<!-- SubMenu -->
<ul class="breadcrumb">
  <li><a href="/admin">Inicio</a> <span class="divider">/</span></li>
  <li><a href="/notices">Noticias</a> <span class="divider">/</span></li>
  <li class="active">Nueva Noticia</li>
</ul>
<!-- End SubMenu-->

<div class="page-header">
    <h1>Nueva Noticia</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), notices_path, :class => "btn btn-primary" %>
</div>
