<div class="page-header">
	<h1>Nuevo Documento Institucional</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to 'Atraz', institucionals_path, :class => "btn btn-primary" %>
</div>
