<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/admin" style="margin:0; padding:8px 0 0 0;">
              <%= image_tag "glyphicons_137_cogwheels.png" %></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="/institucionals">Paginas Institucionales <i class="icon-share-alt icon-white"></i></a></li>
                  <li><a href="/directorios">Directorio de Autoridades <i class="icon-share-alt icon-white"></i></a></li>
                  <li><a href="/normativos">Documentos de Gestion <i class="icon-share-alt icon-white"></i></a></li>
                  <li><a href="/notices">Noticias <i class="icon-share-alt icon-white"></i></a></li>
                </ul>
            <ul class="nav pull-right">
                <li><a href="/"><i class="icon-home icon-white"></i> Ver Pagina</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>