<div class="page-header">
	<h1>Editar comunicado</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-eye-open icon-white"></i> Ver'), @comunicado, :class => "btn btn-primary" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Atraz'), comunicados_path, :class => "btn btn-primary" %>
</div>
