<div class="container">
	<!-- SubMenu -->
	<ul class="breadcrumb">
  		<li><a href="/">Inicio</a> <span class="divider">/</span></li>  		
  		<li class="active">Programa mi Vivienda</li>
	</ul>
	<!-- End SubMenu-->

	<div class="row">
		<div class="span3">
			<%= render "shared/slide_menu" %>
		</div>
		<div class="span9">
			<div class="page-header">
				<h1>Pagina en Actualizacion</h1>
			</div>
			<p class="lead">Estamos en contruccion actualmente lamentamos las molestias.</p>
		</div>
	</div>
</div>