<div class="container">
	<!-- SubMenu -->
	<ul class="breadcrumb">
  		<li><a href="/">Inicio</a> <span class="divider">/</span></li>  		
  		<li class="active">Responsable del Portal</li>
	</ul>
	<!-- End SubMenu-->

	<div class="row">
		<div class="span3">
			<%= render "shared/slide_menu" %>
		</div>
		<div class="span9">
			<div class="page-header">
				<h1>Responsable del Portal</h1>
			</div>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<td>: Doctor Huarcaya</td>
				</tr>
				<tr>
					<th>DNI</th>
					<td>: 674892</td>
				</tr>
				<tr>
					<th>Domicilio</th>
					<td>: Cm40 Lt 15 Mz 56 - Centro Ciudad</td>
				</tr>
				<tr>
					<th>Cargo</th>
					<td>: Director Regional de Vivienda</td>
				</tr>
				<tr>
					<th>Telefono</th>
					<td>: 952789389</td>
				</tr>
				<tr>
					<th>Foto</th>
					<td>: <%= image_tag "icon_persona.jpg" %></td>
				</tr>
			</table>			
		</div>
	</div>

</div>